<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>项目演示界面</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script type="text/javascript" charset="utf-8">
      $(function () {
        Highcharts.setOptions({
          global : {
            useUTC : false
          }
        });
        $('#init-form').ajaxForm(function(json_data) { 
          window.data = json_data;
          window.chart_types = ['H1', 'V1', 'alpha1', 'theta1', 'q1', 'H', 'V'];
          window.chart_titles = ['高度变化曲线', '速度变化曲线', '攻角变化曲线', '俯仰角变化曲线', '俯仰角速度变化曲线', '水平分量变化曲线', '竖直分量变化曲线', '水平分量变化曲线']
          window.series_legends = ['R0_inf', 'R0_sup', 'R1_inf', 'R1_sup', 'R2_inf', 'R2_sup'];
          window.series_colors = ["#7cb5ec", "#90ed7d", "#f7a35c", "#434348", "#8085e9"];
          window.chart_value_labels = ['高度(m)', '速度(m/s)', '攻角(Rad)', '俯仰角(Rad)', '俯仰角速度(Rad/s)'];
          $('.nav-tabs a[href="#tab2"]').tab('show');
        });
        $('.nav-tabs a[href="#tab2"]').bind('shown.bs.tab', function (e) {
          $('#tab2 div.decision-chart').each(function(index){
            if ($(this).highcharts('StockChart') != undefined) {
              $(this).highcharts('StockChart').destroy();
            }
            decision_chart($(this));
          });
        });
        $('.nav-tabs a[href="#tab3"]').bind('click', function (e) {
          $('#tab3 div.state-chart').each(function(index){
            if ($(this).highcharts('StockChart') != undefined) {
              $(this).highcharts('StockChart').destroy();
            }
            state_chart($(this));
          });
        }); 
      });
    </script>
  </head>
  <body>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
        <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
        <li><a href="#tab3" data-toggle="tab">Section 3</a></li>
      </ul>
      <div class="tab-content" style="margin-top: 100px">
        <div class="tab-pane active" id="tab1">
          <form id="init-form" action="/data" method="post" class="bootstrap-frm">
            <h1>状态初始化
              <span>请将各个状态变量的初始值填入对应框中</span>
            </h1>
            <label>
              <span>高度：</span>
              <input id="H1-input" type="number" name="H1" placeholder=0 />
            </label>
            
            <label>
              <span>速度：</span>
              <input id="V1-input" type="number" name="v1" placeholder=0 />
            </label>
            
            <label>
              <span>攻角：</span>
              <input id="alpha1-input" type="number" name="alpha1" placeholder=0 />
            </label>
            
            <label>
              <span>俯仰角：</span>
              <input id="theta1-input" type="number" name="theta1" placeholder=0 />
            </label>

            <label>
              <span>俯仰角速率：</span>
              <input id="q1-input" type="number" name="q1" placeholder=0 />
            </label> 

            <label>
              <span>故障类型：</span><select name="fault_type">
              <option value="1">种类1</option>
              <option value="2">种类2</option>
              </select>
            </label>    

            <label>
              <span>&nbsp;</span> 
              <input type="submit" value="确定" /> 
            </label>    
          </form>
        </div>
        <div class="tab-pane" id="tab2">
          <div id="H_decision" class="decision-chart"></div>
          <div id="V_decision" class="decision-chart"></div>
        </div>
        <div class="tab-pane" id="tab3">
          <div id="H1" class="state-chart"></div>
          <div id="V1" class="state-chart"></div>
          <div id="alpha1" class="state-chart"></div>
          <div id="theta1" class="state-chart"></div>
          <div id="q1" class="state-chart"></div>
        </div>
      </div>
    </div>
  </body>
</html>
