<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>项目演示界面</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script type="text/javascript" charset="utf-8">
      $(function () {
        Highcharts.setOptions({
          global : {
            useUTC : false
          }
        });
        $('#init-form').ajaxForm(function(data) { 
          $('.nav-tabs a[href="#tab2"]').tab('show');
          decision_chart('H_decision', data, 'Live random data');
          decision_chart('V_decision', data, 'Live random data');
          state_chart('H1', data.h1, 'Live random data');
          state_chart('V1', data.v1, 'Live random data');
          state_chart('alpha1', data.alpha1, 'Live random data');
          state_chart('theta1', data.theta1, 'Live random data');
          state_chart('q1', data.q1, 'Live random data');
        }); 
      });
    </script>
  </head>
  <body>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
        <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
        <li><a href="#tab3" data-toggle="tab">Section 3</a></li>
      </ul>
      <div class="tab-content" style="margin-top: 100px">
        <div class="tab-pane active" id="tab1">
          <form id="init-form" action="/data" method="post" class="bootstrap-frm">
            <h1>状态初始化
              <span>请将各个状态变量的初始值填入对应框中</span>
            </h1>
            <label>
              <span>高度：</span>
              <input id="H1-input" type="number" name="h1" placeholder=0 />
            </label>
            
            <label>
              <span>速度：</span>
              <input id="V1-input" type="number" name="v1" placeholder=0 />
            </label>
            
            <label>
              <span>攻角：</span>
              <input id="alpha1-input" type="number" name="alpha1" placeholder=0 />
            </label>
            
            <label>
              <span>俯仰角：</span>
              <input id="theta1-input" type="number" name="theta1" placeholder=0 />
            </label>

            <label>
              <span>俯仰角速率：</span>
              <input id="q1-input" type="number" name="q1" placeholder=0 />
            </label> 

            <label>
              <span>故障类型：</span><select name="fault_type">
              <option value="1">种类1</option>
              <option value="2">种类2</option>
              </select>
            </label>    

            <label>
              <span>&nbsp;</span> 
              <input type="submit" value="确定" /> 
            </label>    
          </form>
        </div>
        <div class="tab-pane" id="tab2">
          <div id="H_decision" class="decision-chart"></div>
          <div id="V_decision" class="decision-chart"></div>
        </div>
        <div class="tab-pane" id="tab3">
          <div id="H1" class="state-chart"></div>
          <div id="V1" class="state-chart"></div>
          <div id="alpha1" class="state-chart"></div>
          <div id="theta1" class="state-chart"></div>
          <div id="q1" class="state-chart"></div>
        </div>
      </div>
    </div>
  </body>
</html>
